<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
        <form method="post">
            <p>
                <h1>아이디</h1>
                <input type="text" name="user_id"/>
            </p>
            <p>
                <h1>패스워드</h1>
                <input type="text" name="password">
            </p>
            <p>
                <h1>유저이름</h1>
                <input type="text" name="username"/>
            </p>
            <button type="submit">회원가입</button>
        </form>
    </body>
</html>